body {
    width: 100%;
}

//// Banner Start////
.banner_bg {
    display: flex;
    background-color: #E3EEFD;
    height: auto;
    padding-bottom: 80px;
}

.banner_circle_img {
    border-radius: 50%;
    padding-top: 46.5px;
    padding-bottom: 55.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner_bold_title {
    padding-top: 245px;
    padding-left: 50px;
    padding-right: 100px;
}

.banner_bold_title h3 {
    color: #142C73;
    font-family: HK Grotesk;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    // text-align: center;
}

.banner_bold_title p {
    padding-top: 0;
    padding-bottom: 0;
    color: #F46800;
    font-family: Poppins;
}

.button_local {
    padding-top: 40px;
}

.banner_bold_title a {
    border-radius: 30px;
    background: #142C73;
    color: #FFF;
    font-family: HK Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 14px 47px 14px 25px;
}

svg.arrow-left {
    margin-left: 10px;
    vertical-align: initial;
}


///// Banner End/////

///////// Top Products Start /////////////
.top_products {
    margin-top: 60px;
}

.hypso_top_products_title {
    color: #142C73;
    font-family: HK Grotesk;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    padding-bottom: 40px;
}

.card-title {
    color: #000;
    font-family: HK Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-price {
    color: #6F6F6F;
    font-family: HK Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card.hypso-card-border {
    background-color: #f7f7f7;
}

.hypso-top-card {
    column-gap: 15px;
}

.hypso-card-border {
    border: none;
}

.hypso-card-img-top {
    background: #f7f7f7;
    padding-top: 33px;
    // padding-bottom: 70px;
}

///////// Top Products End /////////////



///////// Hypso collections End /////////////
.hypso-collections-total {
    padding-top: 60px;
}

.hypso-collections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
}

.collection-title h3 {
    color: #142C73;
    font-family: HK Grotesk;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
}

.poster-women {
    position: relative;
}

.collection-about-text-women {
    position: absolute;
    top: 0;
    transform: translate(0, 50%);
    left: 0;
    right: 0;
}

.collection-about-text-women h3 {
    // position: absolute;  
    color: #fff;
    font-family: HK Grotesk;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    width: 411px;
    padding: 1% 4%;
    margin: auto;
}

.poster-men {
    position: relative;
}

.collection-about-text-men {
    position: absolute;
    top: 0;
    transform: translate(0, 50%);
    left: 0;
    right: 0;
}

.collection-about-text-men h3 {
    color: #fff;
    font-family: HK Grotesk;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 1% 4%;
    width: 411px;
    margin: auto;
}

img.hypso-men-banner {
    width: 100%;
}

img.hypso-women-banner {
    width: 100%;
}

///////// Hypso collections End /////////////



///////// Buy sell product poster Start /////////////
.poster_men_women {
    margin-top: 120px;
}

.hypso-banner-middle {
    background-color: rgba(232, 199, 175, 0.49);
}

.buy-sell-title h3 {
    color: #000;
    font-family: HK Grotesk;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.buy-sell-title p {
    color: #F46800;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hypso-style-men {
    position: relative;
}

.hypso-banner-middle {
    background-color: rgba(232, 199, 175, 0.49);
    padding-top: 30px;
    padding-bottom: 30px;
}

img.hypso-men-banner {
    // position: absolute;
    // width: 340px;
}

.poster_container {
    width: 95%;
    margin: auto;
    position: relative;
}

.left_img {
    width: 27.5%;
}

.heading_wrapper {
    width: 49%;
    position: absolute;
    left: 33%;
    top: 8%;
    transform: translate(0, 50%);
    z-index: 2;
}

.right_img {
    width: 32%;
    position: absolute;
    top: 0;
    right: 0;
}


///////// Buy sell product poster End /////////////


////////// Local Special Start ///////////////
.col-22 {
    flex: 0 0 auto;
    width: 30.333333%;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.pt-11 {
    padding-top: 11px;
}

.local_spl_title {
    margin-top: 80px;
}

.hypso-blue {
    color: #142C73;
    font-family: HK Grotesk;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.local_spl_title h3 {
    color: #142C73;
    font-family: HK Grotesk;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    padding-bottom: 25px;
}

img.local-product-head {
    width: 100%;
}

.local_spl_product_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

img.local-product-head {
    width: 100%;
    height: -webkit-fill-available;
}

.local-description {
    color: #000;
    font-family: HK Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}


.b-none {
    border: none;
}

.text-over-local-img h3 {
    color: #fff;
    font-family: HK Grotesk;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* letter-spacing: 1.05px; */
    position: absolute;
    top: 11px;
    padding: 50px 20px 0px 30px;
}

.text-over-local-img a {
    position: absolute;
    top: 200px;
    left: 30px;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 30px;
    background: #A6D3CF;
    padding: 12px 25px;
}

.col-lg-33.local-head-img {
    position: relative;
}

.col-lg-33 {
    flex: 0 0 auto;
    width: 37.666667%;
}

.col-lg-34 {
    flex: 0 0 auto;
    width: 61.333333%;
}

////////// Local Special End ///////////////



//////////////// Responsive Start //////////////////

@media (min-width: 576px) {

    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1200px;
    }
}



@media (max-width: 1200px) {


    .col-lg-6 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 100%;
    }

    .banner_circle_img {
        width: 100%;
        display: flex;
    }

    .banner_bold_title {
        display: flex;
    }

    .banner_bg {
        display: flex;
        background-color: #E3EEFD;
        height: auto;
        padding-bottom: 80px;
    }

    .banner_bold_title {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }

    .women-collect-hypso {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* row-gap: 40%; */
    }

    .men-collect-hypso {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* row-gap: 40%; */
    }

    .collection-about-text-women {
        position: absolute;
        top: 0;
        transform: translate(0, 50%);
        left: 0;
        right: 0;
    }

    .collection-about-text-women h3 {
        color: #fff;
        font-family: HK Grotesk;
        font-size: 50px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        width: 411px;
        margin: auto;
    }

    .collection-about-text-men {
        position: absolute;
        top: 0;
        transform: translate(0, 50%);
        left: 0;
        right: 0;
    }

    .collection-about-text-men h3 {
        font-size: 50px;
        width: 411px;
        margin: auto;
    }

    img.hypso-women-collection {
        padding-bottom: 60px;
    }

    img.hypso-women-banner {
        width: 100%;
    }

    .poster_men_women {
        margin-top: 120px;
        position: relative;
    }

    .buy-sell-title {
        position: absolute;
        top: 25px;
        width: 77%;
    }

    .col-lg-33 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-lg-34 {
        flex: 0 0 auto;
        width: 100%;
    }

    img.local-product-head {
        width: 100%;
        padding-bottom: 60px;
        padding: 30px;
    }

    .col-22 {
        flex: 0 0 auto;
        width: 30.9999999%;
    }

    .col-lg-34 {
        flex: 0 0 auto;
        width: 100%;
    }

    .text-over-local-img h3 {
        color: #fff;
        font-family: HK Grotesk;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.05px;
        position: absolute;
        top: 10%;
        left: 7%;
    }

    .text-over-local-img a {
        position: absolute;
        top: 36%;
        left: 10%;
        color: #FFF;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 30px;
        background: #A6D3CF;
        padding: 20px 70px;
    }
}


//**//**//**//**//**//**//**//**//** For Tab View //**//**//**//**//**//**//**//**//**//**

@media (max-width: 992px) {

    .collection-about-text-women {
        position: absolute;
        top: 0;
        transform: translate(0, 50%);
        left: 0;
        right: 0;
    }


    .collection-about-text-women h3 {
        font-size: 50px;
        width: 411px;
        margin: auto;
    }

    .collection-about-text-men {
        position: absolute;
        top: 0;
        transform: translate(0, 50%);
        left: 0;
        right: 0;
    }

    .collection-about-text-men h3 {
        font-size: 50px;
        width: 411px;
        margin: auto;
    }

    img.hypso-women-collection {
        padding-bottom: 60px;
    }

    .poster_men_women {
        margin-top: 120px;
        position: relative;
    }

    .buy-sell-title {
        position: absolute;
        top: 0;
    }

    .buy-sell-title {
        position: absolute;
        top: 10px;
        width: 60%;
    }

    .buy-sell-title h3 {
        color: #000;
        font-family: HK Grotesk;
        font-size: 38px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .hypso-blue {
        color: #142C73;
        font-family: HK Grotesk;
        font-size: 38px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .buy-sell-title p {
        color: #F46800;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .col-22 {
        flex: 0 0 auto;
        width: 29%;
    }

    .text-over-local-img h3 {
        color: #fff;
        font-family: HK Grotesk;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.05px;
        position: absolute;
        top: 7%;
        left: 7%;
    }

    .text-over-local-img a {
        position: absolute;
        top: 34%;
        left: 10%;
        color: #FFF;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 30px;
        background: #A6D3CF;
        padding: 20px 57px;
    }
}


//**//**//**//**//**//**//**//**//** For Tab View //**//**//**//**//**//**//**//**//**//**
@media (max-width: 768px) {
    .col-lg-33 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-lg-34 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-22 {
        flex: 0 0 auto;
        width: 28%;
    }

    .collection-about-text-women {
        position: absolute;
        top: 0;
        transform: translate(0, 50%);
        left: 0;
        right: 0;
    }

    .collection-about-text-women h3 {
        font-size: 50px;
        width: 411px;
        padding: 1% 9% 1% 2%;
        margin: auto;
    }

    .collection-about-text-men {
        position: absolute;
        top: 0;
        transform: translate(0, 50%);
        left: 0;
        right: 0;
    }

    .collection-about-text-men h3 {
        font-size: 50px;
        width: 411px;
        padding: 1% 5% 1% 2%;
        margin: auto;
    }

    img.banner_circle {
        width: 100%;
    }

    img.hypso-women-collection {
        width: 100%;
    }

    img.hypso-men-collection {
        width: 100%;
    }

    .buy-sell-title h3 {
        color: #000;
        font-family: HK Grotesk;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .hypso-blue {
        color: #142C73;
        font-family: HK Grotesk;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .hypso-banner-middle {
        background-color: rgba(232, 199, 175, 0.49);
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .banner_bold_title h3 {
        color: #142C73;
        font-family: HK Grotesk;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }

    .text-over-local-img h3 {
        color: #fff;
        font-family: HK Grotesk;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.05px;
        position: absolute;
        top: 10%;
        left: 5%;
    }

    .text-over-local-img a {
        position: absolute;
        top: 35%;
        left: 9%;
        color: #FFF;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 30px;
        background: #A6D3CF;
        padding: 20px 45px;
    }

    .poster_men_women {
        margin-top: 50px;
        position: relative;
    }

    .local_spl_title {
        margin-top: 40px;
    }

    .local_spl_title h3 {
        color: #142C73;
        font-family: HK Grotesk;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.8px;
        padding-bottom: 15px;
    }
}


//**//**//**//**//**//**//**//** For Mobile View //**//**//**//**//**//**//**//**//**//**
@media (max-width: 575.98px) {

    .banner_bold_title h3 {
        color: #142C73;
        font-family: HK Grotesk;
        font-size: 35px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }

    .collection-about-text-women {
        position: absolute;
        top: 0;
        transform: translate(0, 50%);
        left: 0;
        right: 0;
    }

    .collection-about-text-women h3 {
        color: #fff;
        font-size: 35px;
        margin: auto;
        width: 211px;
    }

    .collection-about-text-men {
        position: absolute;
        top: 0;
        transform: translate(0, 50%);
        left: 0;
        right: 0;
    }

    .collection-about-text-men h3 {
        color: #fff;
        font-family: HK Grotesk;
        font-size: 35px;
        margin: auto;
        width: 211px;
    }

    .buy-sell-title {
        position: absolute;
        top: 20px;
        width: 60%;
    }

    .buy-sell-title h3 {
        color: #000;
        font-family: HK Grotesk;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .hypso-blue {
        color: #142C73;
        font-family: HK Grotesk;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .hypso-banner-middle {
        background-color: rgba(232, 199, 175, 0.49);
        padding-top: 0px;
        padding-bottom: 15px;
    }

    .heading_wrapper {
        width: 49%;
        position: absolute;
        left: 33%;
        top: 8%;
        transform: translate(0, 50%);
        z-index: 2;
    }

    .buy-sell-title p {
        color: #F46800;
        font-family: Poppins;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    img.local-product-head {
        width: 100%;
        padding-bottom: 60px;
        padding: 30px;
    }

    .col-lg-34 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-lg-33 {
        flex: 0 0 auto;
        width: 100%;
        /* padding-left: 20px; */
    }

    .col-22 {
        flex: 0 0 auto;
        width: 27%;
    }

    .text-over-local-img h3 {
        color: #fff;
        font-family: HK Grotesk;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.05px;
        position: absolute;
        top: 10%;
        left: 7%;
    }

    .text-over-local-img a {
        position: absolute;
        top: 34%;
        left: 12%;
        color: #FFF;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 30px;
        background: #A6D3CF;
        padding: 10px 35px;
    }

    .local_spl_title h3 {
        color: #142C73;
        font-family: HK Grotesk;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.8px;
        padding-bottom: 0px;
    }

    .local-description {
        color: #000;
        font-family: HK Grotesk;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
    }

    .collection-title h3 {
        color: #142C73;
        font-family: HK Grotesk;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.8px;
    }

    .py-6 {
        padding-top: 6rem !important;
        padding-bottom: 2rem !important;
    }
}

//**//**//**//**//**//**//**//** For Mobile View //**//**//**//**//**//**//**//**//**
@media (max-width: 375.98px) {

    .col-22 {
        flex: 0 0 auto;
        width: 24%;
    }

    .text-over-local-img h3 {
        color: #fff;
        font-family: HK Grotesk;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.05px;
        position: absolute;
        top: 5%;
        left: 5%;
    }

    .text-over-local-img a {
        position: absolute;
        top: 35%;
        left: 14%;
        color: #FFF;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 30px;
        background: #A6D3CF;
        padding: 10px 20px;
    }

    .local_spl_title h3 {
        color: #142C73;
        font-family: HK Grotesk;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.8px;
        padding-bottom: 0px;
    }

    .buy-sell-title {
        position: absolute;
        top: 7px;
        width: 60%;
    }

    .buy-sell-title h3 {
        color: #000;
        font-family: HK Grotesk;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .hypso-blue {
        color: #142C73;
        font-family: HK Grotesk;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .buy-sell-title p {
        color: #F46800;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .collection-about-text-women {
        position: absolute;
        top: 0;
        transform: translate(0, 50%);
        left: 0;
        right: 0;
    }

    .collection-about-text-women h3 {
        color: #fff;
        font-family: HK Grotesk;
        font-size: 25px;
        padding: 1% 10% 2% 1%;
        margin: auto;
        width: 190px;
    }

    .collection-about-text-men {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: translate(0px, 50%);
    }

    .collection-about-text-men h3 {
        color: #fff;
        font-family: HK Grotesk;
        font-size: 25px;
        margin: auto;
        padding: 1% 10% 2% 1%;
        width: 190px;
    }

    .collection-title h3 {
        color: #142C73;
        font-family: HK Grotesk;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.8px;
    }

    .banner_bold_title h3 {
        color: #142C73;
        font-family: HK Grotesk;
        font-size: 26px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }

    .banner_bg {
        display: flex;
        background-color: #E3EEFD;
        height: auto;
        padding-bottom: 80px;
    }

    .banner_bold_title h3 {
        color: #142C73;
        font-family: HK Grotesk;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }

    .banner_bold_title a {
        border-radius: 30px;
        background: #142C73;
        color: #FFF;
        font-family: HK Grotesk;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 14px 47px 14px 25px;
    }

    .py-6 {
        padding-top: 6rem !important;
        padding-bottom: 1rem !important;
    }
}