@media (min-width: 1400px){
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1124px;
    }
}
@media (min-width: 1200px){
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1100px;
    }
}
body{
    font-family: 'Poppins', sans-serif;
}
.productListBlock .cartBtn{
    background-color: rgba(250, 96, 68, 1);
    color: #ffffff;
    border: 1px solid rgba(250, 96, 68, 1);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
    padding: 9px 24px;
    margin: inherit;
    width: 147px;
}
.productListBlock .cartBtn:hover{
    background-color: #ffffff;
    color: rgba(250, 96, 68, 1);
}
.productListBlock h3.productListTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 60px;
    text-align: center;
}
.productListBlock .productDetails{
    margin-top: 15px;
}
.productListBlock .row{
    justify-content: space-between;
}
.productListBlock .cardItem{
    margin-bottom: 40px;
    flex: 0 0 47%;
    width: 47%;
}
.productListBlock .productTitle{
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    letter-spacing: 1px;
    color: #000000;
}
.productListBlock .productPrice{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-transform: uppercase;
}
.productListBlock .loadMoreLink{
    margin-top: 10px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
    color: rgba(250, 96, 68, 1);
    cursor: pointer;
}
.productListBlock .loadMoreLink a{
    color: rgba(250, 96, 68, 1);
}
.productListBlock .loadMoreLink svg{
    margin-left: 15px;
}
.productListBlock .text-uppercase{
    letter-spacing: 0;
}
.productListBlock .productDetails .row{
    width: 100%;
}
nav.bg-hover-white{
    background-color: rgba(243, 243, 243, 1);
}
.navbar .nav-link{
    color: #000000;
}
.navbar .nav-link:hover{
    color: rgba(250, 96, 68, 1);
}
.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active{
    color: rgba(250, 96, 68, 1);
}
.navbar-fixed-light.fixed-top .navbar-nav .nav-link.active,
.navbar-hover-light:hover .navbar-nav .nav-link.active{
    color: rgba(250, 96, 68, 1);
}
.navbar-icon-link .svg-icon{
    color: #000000;
}
.navbar-dark .navbar-icon-link-badge {
    background-color: rgba(250, 96, 68, 1);
    color: #ffffff;
}
.navbar-light .navbar-icon-link-badge, .navbar-fixed-light.fixed-top .navbar-icon-link-badge, .navbar-hover-light:hover .navbar-icon-link-badge {
    background-color: rgba(250, 96, 68, 1);
    color: #ffffff;
}
.navbar-brand-svg{
    color: #000000;
}
.navbar-nav .nav-link{
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.footerLogo{
    margin-bottom: 30px;
}
.footerDescription{
    margin-bottom: 20px;
}
.footerSection .row{
    justify-content: space-between;
}
.footerItem:nth-child(1){
    width: 39.5%;
}
.footerItem:nth-child(2){
    width: 33%;
}
.footerItem:nth-child(3){
    width: 21%;
}
.footerSection .signUpTitle{
    margin-top: 10px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
    color: rgba(250, 96, 68, 1);
    cursor: pointer;
}
.footerSection .signUpTitle a{
    color: rgba(250, 96, 68, 1);
}
.footerSection .signUpTitle svg{
    margin-left: 15px;
}


@media (max-width: 992px){
    .productListBlock .cardItem {
        flex: 0 0 49%;
        width: 49%;
    }
    .productListBlock h3.productListTitle {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .productListBlock .cartBtn{
        padding: 9px 15px;
    }
    .navbar-toggler{
        color: #000000;
    }
}


@media (max-width: 767px){
    .productListBlock .cardItem {
        flex: 0 0 100%;
        width: 100%;
    }
    .productListBlock h3.productListTitle {
        font-size: 24px;
        line-height: 35px;
    }
    .productListBlock .productTitle{
        font-size: 18px;
    }
    .productListBlock .productPrice{
        font-size: 15px;
    }
    .productListBlock .text-uppercase{
        margin-bottom: 0;
    }
    .productListBlock .cartBtn {
        padding: 5px 10px;
        font-size: 14px;
        margin: inherit;
        width: 130px;
    }

}